


body {
    background-image: url(images/sky.jpg);
    background-color: #108bf6;
}

h1 {
    font-size: 75px;
    filter: blur(0.75px);
    font-family: "Boytoy Italic";
    letter-spacing: -5px;
}

p, footer {
    font-family: "EVA-Matisse_Classic", "EB";
    color:aliceblue;
}

ul {
    font-family: "Planet Bubble";
    color: greenyellow;
}
